<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='assets/css/materialize.min.css') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="row">

    <div class="col s12 m4 l3">


        <ul id="nav-mobile" class="side-nav fixed">
            <li class="logo" style="text-align: center">
                <img src="{{ org_info.image }}"
                     width="100" height="100">

            </li>
            <li class="bold active" style="text-align: center">Welcome, {{ user['name'] }}</li>
            <li>
                <hr>
            </li>
            <li class=""><a href="{{ url_for('org_admin.dashboard', username=user.username, org_username=org_info.username) }}" class="waves-effect waves-teal">Dashboard</a></li>
            <li class="no-padding">
                <ul class="active collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="{{ url_for('org_admin.scm', username=user.username, org_username=org_info.username) }}">SCM Profiles</a>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </li>

            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="{{ url_for('org_admin.build', username=user.username, org_username=org_info.username) }}">Build Profiles</a>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </li>

            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="{{ url_for('org_admin.deploy', username=user.username, org_username=org_info.username) }}">Deployment Profiles</a>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col s12 m8 l9">
        <ul>
            <li>
                <nav class="nav-extended">
                    <div class="nav-wrapper">

                    </div>
                    <div class="nav-content">
                        <span class="nav-title">Create SCM Profile</span>
                    </div>
                </nav>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <form method="POST">


                    <div class="row">
                        <div class="input-field col s6">
                            <input id="username" name="username" type="text" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="profilename" name="profilename" type="text" class="validate" required>
                            <label for="profilename">Profile Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="password" name="password" type="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>

                     <div class="row">
                        <div class="input-field col s6">
                            <input id="scm_profile" name="scm_profile" type="text" class="validate" value="" required>
                            <label for="scm_profile">GIT/ SVN </label>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <button class="btn waves-effect waves-light" type="submit">Submit Changes</button>
                    </div>

                </form>
            </li>
        </ul>

    </div>

</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/materialize.min.js') }}"></script>
<script type="application/javascript">

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
</body>
</html>
