<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='assets/css/materialize.min.css') }}">
    {{ JSGlue.include() }}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="row">

    <div class="col s12 m4 l3">


        <ul id="nav-mobile" class="side-nav fixed">
            <li class="logo" style="text-align: center">
                <img src="{{ org_info.image }}" alt=""
                     width="100" height="100">

            </li>
            <li class="bold active" style="text-align: center">Welcome, {{ admin.username }}</li>

            <li>
                <hr>
            </li>
            <li class="bold active" style="text-align: center"><a href="{{ url_for('org_admin.credentials', org_username=org_info.username, org_admin_username = admin.username) }}">Credentials</a></li>
                        <li class="bold " style="text-align: center"><a href="{{ url_for('org_admin.profile', org_username=org_info.username, org_admin_username = admin.username) }}">DOPBM Profiles</a></li>


        </ul>
    </div>

    <div class="col s12 m8 l9">
        <ul>
            <li>
                <nav class="nav-extended">
                    <div class="nav-wrapper">

                    </div>
                    <div class="nav-content">
                        <span class="nav-title">Credentials</span>
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal modal-trigger"
                           href="#create">
                            <i class="material-icons">add</i>
                        </a>

                    </div>
                </nav>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <table class="striped">
                    <thead>
                    <tr>
                        <th>Profile Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for cred in credentials_info %}
                        <tr>
                            <td>{{ cred['profile_name'] }}</td>
                            <td>{{ cred['username'] }}</td>
                            <td>
                                <a class="btn-flat halfway-fab waves-effect waves-light green"
                                   href="{{ url_for('org_admin.edit_cred', org_username=org_info.username, org_admin_username = admin.username, profile_name=cred['profile_name']) }}">Edit</a>

                                <button class="btn-flat halfway-fab waves-effect waves-light red" onclick=" delete_cred('{{ cred['profile_name'] }}')">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </li>

        </ul>
        <div id="create" class="modal">
            <form method="POST">
                <div class="modal-content">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="profile_name" name="profile_name" type="text" class="validate" required>
                            <label for="profile_name">Profile Name</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="re_password" name="re_password" type="password" class="validate" required>
                            <label for="re_password">Enter Password Again</label>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit">Save Credentials</button>
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Go
                        Back</a>

                </div>
            </form>
        </div>
    </div>

</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/materialize.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>
<script type="text/javascript">
    function delete_cred(profile_name){
        $.ajax({
            url: Flask.url_for('org_admin.delete_cred'),
            type:'GET',
            data: {
                'profile_name': profile_name,
                'org_username': '{{ org_info.username }}'
            },
            success: function(data){
                if (data.status ==  200){

                    window.location.reload()
                }
                else {
                    alert('Credentials is used by other org admins, Cannot be deleted.')
                }
            },
            error: function (xhr) {

            }
        })
    }
</script>
</body>
</html>
