<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='assets/css/materialize.min.css') }}">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="row">

    <div class="col s12 m4 l3">


        <ul id="nav-mobile" class="side-nav fixed">
            <li class="logo" style="text-align: center">
                <img src="https://media.glassdoor.com/sqll/717780/techsophy-squarelogo-1427237979370.png" alt=""
                     width="100" height="100">

            </li>
            <li class="bold active" style="text-align: center">Welcome, {{ user['name'] }}</li>
            <li>
                <hr>
            </li>
            <li><a href="{{ url_for('admin.profile', username=user['username']) }}" class="waves-effect waves-teal">My
                Profile</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-teal"
                                        href="{{ url_for('admin.show_admins', username=user['username']) }}">Admins</a>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-teal active"
                                        href="{{ url_for('org.show_orgs', username=user['username']) }}">Organisations</a>
                        <div class="collapsible-body">
                            <ul>
                                {% for org_name in orgs_names %}
                                    <li>
                                        <a href="{{ url_for('org.edit_org', username=user['username'], org_username=org_name['username']) }}">{{ org_name['name'] }}</a>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="bold active" style="text-align: center"><a href="{{ url_for('user.logout') }}"
                                                                  class="waves-effect waves-teal">Sign Out</a></li>
        </ul>

    </div>

    <div class="col s12 m8 l9">
        <ul>
            <li>
                <nav class="nav-extended">
                    <div class="nav-wrapper">

                    </div>
                    <div class="nav-content">
                        <span class="nav-title">Organisations</span>
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal"
                           href="{{ url_for('org.create_org', username=user['username']) }}">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </nav>
            </li>
            <li>
                <hr>
            </li>
            <table class="striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Admins</th>
                </tr>
                </thead>

                <tbody>
                {% for org in orgs %}
                    <tr>
                        <td>{{ org['username'] }}</td>
                        <td>{{ org['name'] }}</td>
                        <td>{{ org['org_admins'] }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </ul>


    </div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/materialize.min.js') }}"></script>
</body>
</html>
