<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='assets/css/materialize.min.css') }}"

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="row">

    <div class="col s12 m4 l3">
        <ul id="nav-mobile" class="side-nav fixed">
            <li class="logo" style="text-align: center">
                <img src="https://media.glassdoor.com/sqll/717780/techsophy-squarelogo-1427237979370.png" alt=""
                     width="100" height="100">

            </li>
            <li class="bold active" style="text-align: center">Welcome, {{ user['name'] }}</li>
            <li>
                <hr>
            </li>
            <li class="active"><a href="{{ url_for('admin.profile', username=user['username']) }}"
                                  class="waves-effect waves-teal">My Profile</a></li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-teal active"
                                        href="{{ url_for('admin.show_admins', username=user['username']) }}">Admins</a>
                        <div class="collapsible-body">
                            <ul>
                                {% for admin in admins_names %}
                                    <li style="margin-left: 10%">
                                        <a href="{{ url_for('admin.edit_other_admin', username=user['username'],other_admin_username=admin['username']) }}">
                                            {{ admin['name'] }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="">Organisations</a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="">org1</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="bold active" style="text-align: center"><a href="{{ url_for('user.logout') }}"
                                                                  class="waves-effect waves-teal">Sign Out</a></li>
        </ul>


    </div>

    <div class="col s12 m8 l9">
        <ul>
            <li>
                <nav class="nav-extended">
                    <div class="nav-wrapper">

                    </div>
                    <div class="nav-content">
                        <span class="nav-title">System Administration</span>

                    </div>
                </nav>
            </li>
            <li>
                <hr>
            </li>
            <li>
                <div class="row">
                    <form class="col s12">

                        <div class="row">
                            <div class="input-field col s6">
                                <input value="{{ other_admin['name'] }}" placeholder="Placeholder" id="name" name="name"
                                       type="text" class="validate" required>
                                <label for="name">Name</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input disabled value="{{ other_admin['username'] }}" placeholder="Placeholder"
                                       id="username" name="username" type="text" class="validate" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                    </form>


                    <div class="row">

                        <div id="changepassword" class="modal">
                            <form method="POST">
                                <div class="modal-content">

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="newpassword" name="newpassword" type="password" class="validate"
                                                   required>
                                            <label for="newpassword">New Password</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="re_newpassword" type="password" name="re_newpassword"
                                                   class="validate" required>
                                            <label for="re_newpassword">Re Enter New Password</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button class="btn waves-effect waves-light" type="submit">Submit Changes</button>

                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Go
                                        Back</a>

                                </div>
                            </form>
                        </div>
                        <button class="btn waves-effect waves-light modal-trigger" href="#changepassword" name="action">
                            Change Password
                        </button>
                        <br><br>
                        <a class="btn waves-effect waves-light " href="{{ url_for('admin.other_admin_status', username=user['username'],other_admin_username=other_admin['username'], status=other_admin['status']) }}">
                            {% if other_admin['status'] == 'active' %}
                            Suspend Account
                            {% else %}
                            Activate Account
                            {% endif %}
                        </a>
                        <a class="btn waves-effect waves-light"  href="{{ url_for('admin.delete_other_admin', username=user['username'],other_admin_username=other_admin['username']) }}" name="action">Delete Account
                        </a>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/materialize.min.js') }}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>

</body>
</html>
